@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&family=Sono:wght@200;400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.pokeImg{
    width: 40vw;
}

.pokemon-ref{
    margin:15px;
}

.sigle-pokemon{
    padding-left:15px;
}

.ability-container{
    padding: 10px;
}